.subreddits {
    position: -webkit-sticky;
    position: sticky;
    top: 65px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(
                    var(--color-accent) 0%, 
                    var(--color-accent) 9%,
                    var(--color-header) 9%,
                    var(--color-card) 9.5%);
    box-shadow: 0 5px 10px var(--color-header);
    border-radius: 10px;
    height: 480px;
    overflow: hidden;
    width: 300px;
}

@media only screen and (max-width: 940px) {
    .subreddits {
        width: auto;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 615px) {
    .subreddits {
        width: 95vw;
        margin-bottom: 20px;
    }
}

.subreddits h3 {
    font-size: 1.3rem;
    text-align: center;
    color: var(--color-text-light);
    text-shadow: 2.5px 2.5px 2.5px var(--color-header);
    letter-spacing: 2px;
    width: 100%;
    margin: 0;
    margin-top: 10px;
}

.subreddits ul {
    list-style: none;
    margin: 0;
    padding: 12px 20px 10px 20px;
}

.subreddits li {
    display: flex;
    align-items: center;
    padding: 6px;
    border-bottom: 1px solid var(--color-accent);
    font-size: 1.1rem;
    cursor: pointer;
}

.subreddits li:last-of-type {
    border-bottom: none;
}

.subreddits li:hover,
.subreddits li:active {
    color: var(--color-accent);
}

.subreddit-icon {
    height: 30px;
    width: 30px;
    margin-right: 10px;
    border-radius: 15px;
}
