.card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: var(--color-card);
    box-shadow: 0 5px 10px var(--color-header);
    border-radius: 10px;
    margin: 15px 0;
    max-width: 600px;
}

h2 {
    font-family: sans-serif;
    font-size: 1.3rem;
    font-weight: 800;
    margin: 0;
    margin-bottom: -4px;
}

.timestamp,
.timestamp strong {
    font-size: .9rem;
    margin: 5px 0 15px 0; 
}

.post-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
    border-top: 2px solid var(--color-accent);
    margin-top: 15px;
}

.votes,
.comments {
    display: inline-flex;
    align-items: center;
}

.votes span,
.votes p,
.comments span,
.comments p {
    font-size: 1rem;
    margin: 0;
    margin-top: 5px;
}

.votes span,
.comments {
    cursor: pointer;
}

.content-text {
    overflow-x: scroll;
    margin-top: -20px;
}

th, td {
    padding: 5px;
}

table,
th,
td {
    border: 1px solid #b3b3b3;
    border-collapse: collapse;
}

.content-link {
    display: inline-flex;
    grid-gap: 10px;
}

.content-video {
    max-height: 500px;
    background: #000;
}
