.card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: var(--color-card);
    box-shadow: 0 5px 10px var(--color-header);
    border-radius: 10px;
    margin: 15px 0;
    max-width: 600px;
}

.card h2 {
    font-size: 1.2rem;
    font-weight: 800;
    margin: 0;
    margin-bottom: -4px;
}

.nsfw-tag {
    width: 40px;
    text-align: center;
    font-size: .8rem;
    font-weight: 400;
    color: red;
    border: 1px solid red;
    border-radius: 5px;
    padding: 2px;
}

.timestamp,
.timestamp strong {
    font-size: .9rem;
    margin: 5px 0 15px 0; 
}

.post-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
    border-top: 2px solid var(--color-accent);
    margin-top: 15px;
}

.votes,
.comments {
    display: inline-flex;
    align-items: center;
}

.votes span,
.votes p,
.comments span,
.comments p {
    font-size: 1rem;
    margin: 0;
    margin-top: 5px;
}

.votes span,
.comments {
    cursor: pointer;
}

.text-container {
    position: relative;
    max-height: 200px;
    margin-top: -20px;
    overflow: hidden;
}

.content-text {
    overflow-x: scroll;
}

.text-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-image: -webkit-linear-gradient(
                        transparent 70%, 
                        var(--color-card) 100%);
}

th, td {
    padding: 5px;
}

table,
th,
td {
    border: 1px solid #b3b3b3;
    border-collapse: collapse;
}

.image-container {
    position: relative;
    max-height: 500px;
    width: 100%;
    overflow: hidden;
}

.content-img {
    position: relative;
    width: 100%;
    height: 100%;
}

.image-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 10px;
}

.image-overlay span {
    width: 200px;
    font-size: .9rem;
    font-weight: 600;
    text-align: center;
    color: var(--color-text-light);
    background: rgba(1, 1, 1,.75);
    border-radius: 5px;
    padding: 5px;
}

.content-link {
    display: inline-flex;
    overflow: hidden;
}

.content-link a {
    color: var(--color-link);
    text-decoration: none;
}

.thumbnail-container {
    max-height: 78px;
    max-width: 140px;
    overflow: hidden;
    border: 1px solid var(--color-link);
    border-radius: 5px;
    margin-right: 10px;
}

.link-image {
    height: 100%;
    width: 100%;
}

.link-icon {
    margin-top: 5px;
}

.content-video {
    max-height: 500px;
    background: #000;
}
