.card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: var(--color-card);
    box-shadow: 0 5px 10px var(--color-header);
    border-radius: 10px;
    margin: 15px 0;
    max-width: 600px;
}

@media only screen and (max-width: 940px) {
    .card {
        width: auto;
    }
}

@media only screen and (max-width: 615px) {
    .card {
        width: 95vw;
    }
}

.card h2 {
    font-size: 1.2rem;
    font-weight: 800;
    margin: 0;
    margin-bottom: -4px;
}

.nsfw-tag {
    width: 40px;
    text-align: center;
    font-size: .9rem;
    font-weight: 400;
    color: red;
    border: 1px solid red;
    border-radius: 5px;
    padding: 1px 3px;
}

.header-info,
.header-info strong {
    font-size: .9rem;
    margin: 10px 0 15px 0;
}

.header-info strong {
    cursor: pointer;
}

.header-info strong:hover,
.header-info strong:active {
    color: var(--color-accent);
}

.pinned {
    color: var(--color-accent);
    float: right;
}

.post-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
    border-top: 2px solid var(--color-accent);
    margin-top: 15px;
}

.post-info span,
.post-info p {
    font-size: 1rem;
    margin: 0;
    margin-top: 5px;
}

.votes,
.comments {
    display: inline-flex;
    align-items: center;
}

.votes span,
.comments {
    cursor: pointer;
}

.upvote:hover,
.upvote-active {
    color: green;
}

.downvote:hover,
.downvote-active {
    color: red;
}

.comments:hover {
    color: var(--color-accent);
}

.comment-section {
    border: 1px solid lightGrey;
    border-radius: 10px;
    padding: 10px;
    margin-top: 15px;
    display: none;
    text-align: center;
}

.hide-comments {
    background-color: var(--color-accent);
    color: var(--color-text-light);
    border: 1px solid var(--color-header);
    border-radius: 5px;
    padding: 5px;
}
