.comment {
    border-bottom: 1px solid lightGrey;
    margin-bottom: 15px;
    text-align: left;
    word-break: break-word;
}

.comment:last-of-type {
    margin: 0;
    display: none;
}

.comment p {
    font-size: 1rem;
    margin: 10px 0;
}

.comment span {
    font-size: .9rem;
}
