.comment {
    background-color: rgba(1, 1, 1, .075);
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 0;
    margin-bottom: 15px;
    text-align: left;
    word-break: break-word;
}

.comment:last-of-type {
    display: none;
}

.comment p {
    font-size: 1rem;
    margin: 10px 0;
}

.comment span {
    font-size: .9rem;
}

.comment .votes {
    width: 100%;
    margin: 0;
    border-top: 1px solid rgba(1, 1, 1, .2);
}
