header {
    height: 50px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    background-color: var(--color-header);
    padding: 0 20px;
    box-shadow: 0 0px 10px var(--color-header);
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo img {
    height: 40px;
    width: 40px;
    margin-right: 5px;
}

.logo p {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--color-text-light);
}

.logo span {
    font-size: 1.4rem;
    font-weight: 900;
    color: var(--color-accent);
}

.search {
    display: flex;
    flex-direction: row;
    padding-top: 6px;
    margin-right: 15px;
}

.search input {
    width: 90px;
    height: 24px;
    border-radius: 10px;
    padding: 0 10px;
    background-color: var(--color-background);
    border: none !important;
    margin-right: 5px;
    font-size: 18px;
    color: var(--color-text-light);
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.search input::placeholder {
    color: var(--color-text-light);
}

.search input:focus {
    outline: none !important;
    width: 500px;
}

@media only screen and (max-width: 800px) {
    .search input:focus {
        width: 300px;
    }   
}

@media only screen and (max-width: 600px) {
    .search input:focus {
        width: 200px;
    }   
}

.search button {
    cursor: pointer;
    background-color: var(--color-header);
    border: none;
    font-size: 20px;
    color: var(--color-text-light);
    margin-top: 1px;
}
