* {
  top: 0;
  left: 0;
  box-sizing: border-box;
}

:root {
  --color-header: #202020;
  --color-background: #dddddd;
  --color-accent: #2a7f1f;
  --color-text: #dddddd;
}


body {
  background-color: var(--color-background);
  display: flex;
  justify-content: center;
}

.container {
  height: 800px;
  margin-top: 50px;
  width: 1000px;
}
